body {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 1px solid green;
}

header {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
}

.add-book {
    align-self: flex-end;
    margin: 5px;
}

.lib-grid {
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.book-card {
    border: 1px solid yellow;
    border-radius: 3px;
    padding: .5rem;
    background: rgb(236, 226, 226)
}

@media (min-width: 900px) {
    .lib-grid { grid-template-columns: repeat(4, 1fr); }
  }